*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


:root{
    --backgroundcolor:rgb(33, 41, 85);
}


h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 1.5rem;
}

nav{
    font-family: Geneva, Tahoma, sans-serif;
    width: 17%;
    word-wrap: wrap;
    padding: 15px;
    margin: 10px;
    border-right: var(--backgroundcolor) solid 3px;
}



footer{
    background-color: var(--backgroundcolor);
    color: white;
    padding: 20px;
    text-align: center;
}

header{
    background-color: var(--backgroundcolor);
    color: white;
}

.header h1{
    padding: 20px;
    display: block;
    margin-left: 50 px;
}

.header ul{
    display: inline-block;
    font-size: 1.5rem;
    float: right;
    margin-right: 55px;
}

.header li{
    float: left;
    margin: 10px;
    line-height: 2rem;
    font-family: Geneva
}

.header a{
    color: wheat;
    text-decoration: none;
}
.header img {
    display: flexbox;
    width: 90%;
    height: 500px;
    margin-left: 5%;
    margin-right: 5%;
    background-image: url("../images/background.jpg");
}

.subtitle{
    position: relative;
    top: -100px;
    background-color: var(--backgroundcolor);
    padding: 10px;
}

.main section{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.aboutme ol{
    display: block-flex;
    max-width: 55%;
    list-style-type: disc;
    margin: 15px;
    line-height: 2rem;
}


.profile{
    display: inline;
    width: 15rem;
    border-radius: 140px;
    margin: 15px;
}

.workbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 60%;
}

.workbox img {
    display: inline;
    width: 43%;
    height: 300px;
    margin: 20px;
}
.contactme ul {
    display: inline-flex;
}

.contactme li {
    display: inline-block;
    font-size: 1.25rem;
    margin: 50px;
    font-weight: bolder;
}
.contactme a {
    text-decoration: underline;
    text-underline-position: under;
    color: var(--backgroundcolor);
}